@import 'variables';
@import 'mixins';



header {
  padding: 30px;
  position: relative;
  background-image: url("../img/books_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  overflow: hidden;
  z-index: 4;

  i {
    font-size: 3.5rem;
    color: $heading-one;
    float: left;
    overflow: hidden;
    margin-right: .5rem;
  }

     > h1 a{
        text-decoration: none;
        color: $heading-one;
        font-size: 3.5rem;
      }

}