@import 'variables';

#nav {
  padding: 10px;
  box-shadow: $bgshadow;
  border-width: 2px;
  border-style: solid;
  border-image: $grad-border;
  ul {
    /*padding: 10px;*/

    li {
      display: inline-block;
      a {
        font-family: $heading-font;
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
        padding: 10px 20px 10px 20px;
        border-right: 1px solid;
        border-image: $grad-border;

        &:hover {
          background-color: black;
          color: white;
        }

      }
    }
  }
}