@import 'variables';
@import 'mixins';

h1 {
  text-transform: Uppercase;
  font-family: $heading-font;
  color: #BFC0C0;
}

.heading {
  color: $primary;
  font-size: 3rem;
  position: absolute;
  bottom: 50px;
  left: 75px;

}

.title {
  background-color: $fifth;
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;

}



h2 {
  font-family: $heading-font;
  font-size: 2rem;
}

h3 {
  font-family: $heading-font;
}

h4 {
  font-family: $heading-font;
}

h5 {}

p {
  font-family: $para-font;
}

blockquote {
  padding: 5px;
  text-align: center;
  background-color: $fourth;

  > h3 {
    padding: 15px;
  }

  > p {
    padding: 15px;
  }

  > hr {
    background-color: black;
  }
}

.midList {
  padding: 25px;
  font-family: $para-font;
  background: $fourth;
  box-shadow: $boxshadow;
  border-width: 2px;
  border-style: solid;
  border-image: $grad-border;
  text-align: center;

  li {
    list-style-type: none;
    padding: 5px;
    a {
      text-decoration: none;
      color: black;
    }
  }


}
