/*Color Variables*/

$bgcolor: #FFF0F5;
$bgcolor-light: lighten(#FFF0F5, 20%);
$bgshadow: 6px 8px 35px 1px rgba(0,0,0,0.57);

/*Text Variables*/
$headings: #AD4C4C;
$heading-font: 'Ovo', serif;
$para-font: 'Muli', sans-serif;