/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
header {
  background-color: #FFF0F5;
  padding: 30px; }
  header a {
    text-decoration: none;
    color: black; }

/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
#nav {
  padding: 5px;
  box-shadow: 6px 36px 28px -17px rgba(0, 0, 0, 0.57); }
  #nav ul {
    padding: 10px; }
    #nav ul li {
      display: inline-block; }
      #nav ul li a {
        font-family: "Ovo", serif;
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
        padding: 10px 20px 10px 20px; }
        #nav ul li a:hover {
          background-color: black;
          color: white; }

/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
h1 {
  text-transform: Uppercase;
  font-family: "Ovo", serif;
  color: black; }

.title {
  width: 100%;
  background-color: #FFF0F5;
  text-align: center;
  padding: 25px; }

h2 {
  font-family: "Ovo", serif;
  font-size: 2rem; }

h3 {
  font-family: "Ovo", serif; }

h4 {
  font-family: "Ovo", serif; }

p {
  font-family: "Muli", sans-serif; }

blockquote {
  text-align: center; }

.midList {
  padding: 25px;
  font-family: "Muli", sans-serif;
  background: aliceblue;
  box-shadow: 18px 24px 28px -16px rgba(0, 0, 0, 0.57);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, black, #fff) 3 25%; }
  .midList li {
    list-style-type: disc;
    padding: 5px; }
    .midList li a {
      text-decoration: none;
      color: black; }

/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
footer {
  background-color: slategrey;
  height: 200px;
  width: 100%; }
  footer .foot-cont {
    width: 1200px;
    margin: auto; }
    footer .foot-cont .botNav {
      float: left;
      width: 30%; }
      footer .foot-cont .botNav a {
        display: block;
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 10px; }
    footer .foot-cont .social {
      width: 30%;
      text-align: center;
      margin: auto; }
      footer .foot-cont .social .fa-envelope {
        width: 25%; }
      footer .foot-cont .social .fa-facebook-square {
        width: 25%; }
      footer .foot-cont .social .fa-linkedin {
        width: 25%; }
      footer .foot-cont .social .fa-twitter-square {
        width: 25%; }
    footer .foot-cont .disclaimer {
      float: right;
      width: 30%; }

/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
/*The Images SASS file*/
.img-container {
  padding: 15px;
  background-color: white;
  box-shadow: 18px 24px 28px -16px rgba(0, 0, 0, 0.57);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, black, #fff) 3 25%;
  text-align: center; }
  .img-container .sec-img {
    width: 90%; }

.html-logo {
  width: 100%; }

* {
  padding: 0;
  margin: 0; }

.clearfloat {
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  float: none;
  height: 0;
  width: 0;
  border: 0 none;
  line-height: 0; }

/*The Main body*/
body {
  background: white; }
  body #main {
    width: 1200px;
    margin: auto;
    background-color: white; }
    body #main aside {
      float: left;
      width: 30%;
      padding: 15px;
      background: #FFF0F5; }
      body #main aside p > a {
        text-decoration: none; }
      body #main aside .title {
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to right, black, #fff) 3 25%; }
    body #main section {
      float: left;
      width: 66%;
      padding: 15px 0 15px 10px; }
      body #main section p .blue {
        text-transform: uppercase;
        color: blue; }

/*The End of the body*/

/*# sourceMappingURL=main.css.map */
