/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
header {
  padding: 30px;
  background-color: #9dff9b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%232bb500' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23ffffff'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  z-index: 5; }
  header a {
    text-decoration: none;
    color: #082213; }

/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
#nav {
  padding: 10px;
  box-shadow: 6px 36px 28px -17px rgba(0, 0, 0, 0.57);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to top, black, #fff) 3 25%;
  overflow: hidden;
  position: sticky;
  top: 0;
  background: aliceblue;
  z-index: 2; }
  #nav ul {
    /*padding: 10px;*/
    float: left; }
    #nav ul li {
      display: inline-block; }
      #nav ul li a {
        font-family: "Ovo", serif;
        font-size: 1.5rem;
        text-decoration: none;
        color: black;
        width: 100%;
        padding: 10px 20px 10px 20px;
        border-right: 1px solid;
        border-image: linear-gradient(to top, black, #fff) 3 25%; }
        #nav ul li a:hover {
          background-color: black;
          width: 100%;
          color: white; }

/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
h1 {
  text-transform: Uppercase;
  font-family: "Ovo", serif;
  color: black; }

.title {
  background-color: #A1E5AB;
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid black;
  margin-bottom: 10px; }

h2 {
  font-family: "Ovo", serif;
  font-size: 2rem; }

h3 {
  font-family: "Ovo", serif; }

h4 {
  font-family: "Ovo", serif; }

p {
  font-family: "Muli", sans-serif; }

blockquote {
  padding: 5px;
  text-align: center;
  background-color: aliceblue; }

.midList {
  padding: 25px;
  font-family: "Muli", sans-serif;
  background: aliceblue;
  box-shadow: 18px 24px 28px -16px rgba(0, 0, 0, 0.57);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to top, black, #fff) 3 25%; }
  .midList li {
    list-style-type: disc;
    padding: 5px; }
    .midList li a {
      text-decoration: none;
      color: black; }

/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
footer {
  background-color: slategrey;
  height: 200px;
  width: 100%; }
  footer .foot-cont {
    width: 100%;
    margin: auto; }
    footer .foot-cont .botNav {
      float: left;
      width: 30%; }
      footer .foot-cont .botNav a {
        display: block;
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 10px; }
    footer .foot-cont .social {
      width: 30%;
      text-align: center;
      margin: auto; }
      footer .foot-cont .social .fa-envelope {
        width: 25%; }
      footer .foot-cont .social .fa-facebook-square {
        width: 25%; }
      footer .foot-cont .social .fa-linkedin {
        width: 25%; }
      footer .foot-cont .social .fa-twitter-square {
        width: 25%; }
    footer .foot-cont .disclaimer {
      float: right;
      width: 30%; }

/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
/*The Images SASS file*/
.img-container {
  padding: 15px;
  background-color: white;
  box-shadow: 18px 24px 28px -16px rgba(0, 0, 0, 0.57);
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to top, black, #fff) 3 25%;
  text-align: center; }
  .img-container .sec-img {
    width: 90%; }

.html-logo {
  width: 100%; }

/*Color Variables*/
/*Shadows*/
/*Border Variables*/
/*Text Variables*/
#wrapper {
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  #wrapper .form-container {
    width: 100%;
    max-width: 40rem;
    background: #fff;
    position: relative;
    padding: 10rem 0;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    z-index: 1; }
    #wrapper .form-container:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30rem;
      background: linear-gradient(to left, #fc6767, #ec008c);
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
      z-index: -1; }
    #wrapper .form-container .form-heading {
      color: #fff;
      font-size: 2.5rem;
      position: absolute;
      top: 3.5rem;
      left: 10rem;
      font-family: "Ovo", serif; }
    #wrapper .form-container form {
      transform: translateX(10rem);
      padding: 2rem 0;
      background-color: white;
      border-radius: 1rem;
      box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1); }
      #wrapper .form-container form .input-group {
        width: 90%;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: baseline; }
        #wrapper .form-container form .input-group input {
          position: relative;
          width: 100%;
          padding: 1rem 0;
          margin-top: .5rem;
          border: none;
          outline: none;
          font-size: 1.8rem;
          color: #fc6767; }
          #wrapper .form-container form .input-group input:focus + .bar::before {
            width: 100%; }
        #wrapper .form-container form .input-group > i {
          font-size: 2rem;
          margin-right: 1rem;
          color: #fc6767; }
        #wrapper .form-container form .input-group .bar {
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.1);
          width: 100%;
          height: 1px; }
          #wrapper .form-container form .input-group .bar:before {
            content: '';
            position: absolute;
            background-color: #fc6767;
            width: 0;
            height: 2px;
            transition: width 650ms; }
        #wrapper .form-container form .input-group button {
          margin: 3rem auto;
          padding: 1rem 5rem;
          background: linear-gradient(to left, #fc6767, #ec008c);
          border: none;
          color: #fff;
          font-size: 2.5rem;
          cursor: pointer;
          border-radius: 3rem; }
          #wrapper .form-container form .input-group button:focus, #wrapper .form-container form .input-group button:hover {
            background: linear-gradient(to right, #fc6767, #ec008c); }
      #wrapper .form-container form .switch-login {
        text-align: center; }
        #wrapper .form-container form .switch-login a {
          text-decoration: none;
          color: #a1a1a1;
          font-size: 1.5rem; }
        #wrapper .form-container form .switch-login span {
          color: #fc6767; }
          #wrapper .form-container form .switch-login span:hover {
            padding-bottom: 2px;
            border-bottom: 2px solid #fc6767; }

@media screen and (max-width: 700px) {
  .form-container::before {
    height: 10rem; }

  .form-heading {
    left: 50%;
    transform: translateX(-50%); }

  form {
    border-radius: initial;
    transform: initial;
    box-shadow: none; } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.clearfloat {
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  float: none;
  height: 0;
  width: 0;
  border: 0 none;
  line-height: 0; }

/*The Main body*/
body {
  background-color: #66ff77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='975' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2366ff77'/%3E%3Cstop offset='1' stop-color='%23240'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='975' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23EF5' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23EF5' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%23081' stroke-width='10' stroke-miterlimit='10' stroke-opacity='.2'%3E%3Cpolygon points='-500%2C500 500%2C-500 1500%2C500 500%2C1500'/%3E%3Cpolygon points='-475%2C500 500%2C-475 1475%2C500 500%2C1475'/%3E%3Cpolygon points='-450%2C500 500%2C-450 1450%2C500 500%2C1450'/%3E%3Cpolygon points='-425%2C500 500%2C-425 1425%2C500 500%2C1425'/%3E%3Cpolygon points='-400%2C500 500%2C-400 1400%2C500 500%2C1400'/%3E%3Cpolygon points='-375%2C500 500%2C-375 1375%2C500 500%2C1375'/%3E%3Cpolygon points='-350%2C500 500%2C-350 1350%2C500 500%2C1350'/%3E%3Cpolygon points='-325%2C500 500%2C-325 1325%2C500 500%2C1325'/%3E%3Cpolygon points='-300%2C500 500%2C-300 1300%2C500 500%2C1300'/%3E%3Cpolygon points='-275%2C500 500%2C-275 1275%2C500 500%2C1275'/%3E%3Cpolygon points='-250%2C500 500%2C-250 1250%2C500 500%2C1250'/%3E%3Cpolygon points='-225%2C500 500%2C-225 1225%2C500 500%2C1225'/%3E%3Cpolygon points='-200%2C500 500%2C-200 1200%2C500 500%2C1200'/%3E%3Cpolygon points='-175%2C500 500%2C-175 1175%2C500 500%2C1175'/%3E%3Cpolygon points='-150%2C500 500%2C-150 1150%2C500 500%2C1150'/%3E%3Cpolygon points='-125%2C500 500%2C-125 1125%2C500 500%2C1125'/%3E%3Cpolygon points='-100%2C500 500%2C-100 1100%2C500 500%2C1100'/%3E%3Cpolygon points='-75%2C500 500%2C-75 1075%2C500 500%2C1075'/%3E%3Cpolygon points='-50%2C500 500%2C-50 1050%2C500 500%2C1050'/%3E%3Cpolygon points='-25%2C500 500%2C-25 1025%2C500 500%2C1025'/%3E%3Cpolygon points='0%2C500 500%2C0 1000%2C500 500%2C1000'/%3E%3Cpolygon points='25%2C500 500%2C25 975%2C500 500%2C975'/%3E%3Cpolygon points='50%2C500 500%2C50 950%2C500 500%2C950'/%3E%3Cpolygon points='75%2C500 500%2C75 925%2C500 500%2C925'/%3E%3Cpolygon points='100%2C500 500%2C100 900%2C500 500%2C900'/%3E%3Cpolygon points='125%2C500 500%2C125 875%2C500 500%2C875'/%3E%3Cpolygon points='150%2C500 500%2C150 850%2C500 500%2C850'/%3E%3Cpolygon points='175%2C500 500%2C175 825%2C500 500%2C825'/%3E%3Cpolygon points='200%2C500 500%2C200 800%2C500 500%2C800'/%3E%3Cpolygon points='225%2C500 500%2C225 775%2C500 500%2C775'/%3E%3Cpolygon points='250%2C500 500%2C250 750%2C500 500%2C750'/%3E%3Cpolygon points='275%2C500 500%2C275 725%2C500 500%2C725'/%3E%3Cpolygon points='300%2C500 500%2C300 700%2C500 500%2C700'/%3E%3Cpolygon points='325%2C500 500%2C325 675%2C500 500%2C675'/%3E%3Cpolygon points='350%2C500 500%2C350 650%2C500 500%2C650'/%3E%3Cpolygon points='375%2C500 500%2C375 625%2C500 500%2C625'/%3E%3Cpolygon points='400%2C500 500%2C400 600%2C500 500%2C600'/%3E%3Cpolygon points='425%2C500 500%2C425 575%2C500 500%2C575'/%3E%3Cpolygon points='450%2C500 500%2C450 550%2C500 500%2C550'/%3E%3Cpolygon points='475%2C500 500%2C475 525%2C500 500%2C525'/%3E%3C/g%3E%3Crect fill-opacity='.2' fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }
  body #main {
    width: 1250px;
    margin: auto; }
    body #main aside {
      float: left;
      width: 30%;
      padding: 15px;
      background: #A1E5AB; }
      body #main aside p > a {
        text-decoration: none; }
    body #main section {
      float: left;
      width: 66%;
      padding: 15px 10px 15px 10px;
      background-color: #ADF6B1; }
      body #main section p .blue {
        text-transform: uppercase;
        color: blue; }

/*The End of the body*/
/*Line Breaks*/
hr {
  color: black;
  height: 3px;
  background-color: darkgreen;
  border: none; }

/*End Line Breaks*/

/*# sourceMappingURL=main.css.map */
