@import 'variables';
@import 'mixins';
@import 'header';
@import 'navigation';
@import 'text-style';
@import 'footer';
@import 'images';
@import 'contactform';
@import 'findNav';
@import 'table';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfloat {
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  float: none;
  height: 0;
  width: 0;
  border: 0 none;
  line-height: 0;
}

/*The Main body*/
body {
  background-color: #FFFFFF;


  #main {
    width: 1250px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 1px 1.5rem rgba(0,0,0,.1);

    aside {
      float: left;
      width: 30%;
      margin: 0 10px 10px 10px;
      padding: 20px;
      background: #FFA37C;

      p > a {
        text-decoration: none;
      }


    }

    section {
      float: left;
      width: 66%;
      padding: 15px 10px;
      margin: 0 10px 10px 10px;
      background-color: #FFC1A7;

      p {
        .blue{
          text-transform: uppercase;
          color: blue;
        }
      }
    }

    .find-cont {
      width: 100%;
      margin: 0 auto;
      background-color: white;
      padding-top: 55px;
    }
  }
}


/*The End of the body*/

/*Line Breaks*/
hr {
  color: black;
  height: 3px;
  background-color: #EF8354;
  border: none;
}

.style-two {
  color: black;
  height: 1px;
  margin: 5px 0;
  background-color: $fifth;
  opacity: .75;
  border: none;
}


/*End Line Breaks*/

