@import 'variables';
@import 'header';
@import 'navigation';
@import 'text-style';
@import 'footer';
@import 'images';

* {
  padding: 0;
  margin: 0;
}

.clearfloat {
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  float: none;
  height: 0;
  width: 0;
  border: 0 none;
  line-height: 0;
}

/*The Main body*/
body {
  background: $bgcolor-light;

  #main {
    width: 1250px;
    margin: auto;
    background-color: $bgcolor-light;

    aside {
      float: left;
      width: 30%;
      padding: 15px;
      background: $bgcolor;

      p > a {
        text-decoration: none;
      }


    }

    section {
      float: left;
      width: 66%;
      padding: 15px 10px 15px 10px;
      background-color: $html-color;

      p {
        .blue{
          text-transform: uppercase;
          color: blue;
        }
      }
    }
  }
}


/*The End of the body*/

/*Line Breaks*/
hr {
  color: black;
  height: 3px;
  background-color: darkgreen;
  border: none;
}


/*End Line Breaks*/

